// colors
$accentColor = #20a0ff
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #f3f3f3
$arrowBgColor = #ccc

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
